@model MemberRegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>RegistrationForm_v10 by Colorlib</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
	<!-- STYLE CSS -->
	<link rel="stylesheet" href="~/assets/css/login.css">
</head>
<body>
	<div class="wrapper">
		<div class="inner">
			<img src="images/image-1.png" alt="" class="image-1">
			<form method="post">
				<h3>Create an Account</h3>
				<div class="form-holder">
					<input asp-for="Username" class="form-control" placeholder="Username">
				</div>
				<span asp-validation-for="Username" style="color: red;font-size:13px"></span>
				<div class="form-holder">
					<input class="form-control" asp-for="Fullname" placeholder="FullName">
				</div>
				<span asp-validation-for="Fullname" style="color: red;font-size:13px"></span>
				<div class="form-holder">
					<input asp-for="Email" class="form-control" placeholder="Mail">
				</div>
				<span asp-validation-for="Email" style="color: red;font-size:13px"></span>
				<div class="form-holder">
					<input asp-for="Password" class="form-control" placeholder="Password">
				</div>
				<span asp-validation-for="Password" style="color: red;font-size:13px"></span>
				<div class="form-holder">
					<input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password">
				</div>
				<span asp-validation-for="ConfirmPassword" style="color: red;font-size:13px"></span>
				<button type="submit">
					<span>Register</span>
				</button>
				<div asp-validation-summary="ModelOnly"></div>
			</form>
		</div>

	</div>
</body>
</html>